<div class="container">

  <div class="dialog-header">
    <h1 mat-dialog-title class="title">Cadastrar Usuário</h1>
    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <form [formGroup]="form">

      <h2 class="subtitle">Informações Pessoais</h2>
      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput maxlength="256" formControlName="name">
          <mat-error *ngIf="form.get('name')?.invalid">Você deve inserir um valor</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="email@example.com" maxlength="256" formControlName="email" required>
          <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <h2 class="subtitle">Autenticação</h2>

      <div class="row two-columns">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Nome de usuário</mat-label>
          <input matInput formControlName="username" maxlength="256" appNoWhiteSpace>
          <button mat-icon-button matSuffix [cdkCopyToClipboard]="form.get('username')?.value ?? ''">
            <mat-icon>content_copy</mat-icon>
          </button>
          <mat-error *ngIf="form.get('username')?.invalid">Você deve inserir um valor</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Atribuição</mat-label>
          <mat-select formControlName="roles">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('roles')?.invalid">Você deve inserir um valor</mat-error>
        </mat-form-field>

      </div>

      <div class="row two-columns">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Exibir senha'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{form.get('password')?.value?.length}} dígitos</mat-hint>
          <mat-error *ngIf="form.get('password')?.invalid">Você deve inserir um valor</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput formControlName="repeatPassword" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Exibir senha'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{form.get('repeatPassword')?.value?.length}} dígitos</mat-hint>
          <mat-error *ngIf="checkPasswords()">As senhas não são equivalentes</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions align="end" class="dialog-footer">
    <button mat-stroked-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button [disabled]="form.invalid" color="primary">Post</button>
  </div>
</div>