.form-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
}

.mat-mdc-form-field-flex {
  background-color: red;
}
