.toolbar {
  display: flex;
  align-items: center;
}



.toolbar-form {
  display: flex;
  align-items: center;
}

.input{
  height: 50px;
}

.toolbar-form .spacer {
  margin-right: 16px;
  margin-top: 16px;
}

.button {
  height: 50px;
}

