$marginSize: 16px;

.toolbar {
  margin-top: $marginSize;
  display: flex;
  align-items: center;
}

.toolbar-form {
  display: flex;
  align-items: center;

}

.toolbar-form .spacer {
  margin-right: $marginSize;
}

.mat-form-field {
  flex: 1;
  min-width: 150px;
  margin: 8px;
}

.button {
  margin: 8px;
}

@media (max-width: 600px) {
  .mat-form-field {
    flex-basis: 100%;
    margin: 4px 0;
  }

  .button {
    width: 100%;
    margin: 8px 0;
  }
}
