<div>
    <form>
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
    </form>
    <button mat-icon-button aria-label="Example icon-button with custom icon">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>