<app-toolbar-header [title]="'Gerenciamento de Registros'"></app-toolbar-header>

<div class="content mat-elevation-z4">
    <mat-tab-group mat-stretch-tabs [class]="'stretched-tabs mat-elevation-z2 selected-tab-{{tabGroup.selectedIndex}}'"
        [color]="'warn'">

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">people</mat-icon>
                Usuários
            </ng-template>
            <app-users></app-users>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">room_preferences</mat-icon>
                Salas
            </ng-template>
            <app-rooms></app-rooms>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">badge</mat-icon>
                Cargos
            </ng-template>
            <app-rooms></app-rooms>
        </mat-tab>

    </mat-tab-group>
</div>