<div tabindex="0" class="full-width">
    <mat-progress-bar mode="query"></mat-progress-bar>
    <div class="container mat-elevation-z8">
        <div class="mat-table-container">
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.active ? 'Sim' : 'Não'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef> Criado em </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="star" stickyEnd>
                    <mat-header-cell *matHeaderCellDef aria-label="row actions">Ações</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Histórico">
                            <mat-icon>history</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Redefinir">
                            <mat-icon>key</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="paginator">
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>