<div tabindex="0">
    <mat-progress-bar mode="query"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">
        <div class="mat-table-container">
            <mat-table [dataSource]="dataSource">   
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="star" stickyEnd>
                    <mat-header-cell *matHeaderCellDef aria-label="row actions">Ações</mat-header-cell>
                    <mat-cell *matCellDef="let element"><mat-icon>more_vert</mat-icon></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>
