<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
        <filter class="github.sagubr.logs.LoggingFilter"/>
    </appender>
    <appender name="CUSTOM" class="github.sagubr.logs.LoggingAppender"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CUSTOM"/>
    </root>
</configuration>
