$black: #080a0b;

.container {
  margin: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.dialog-header {
  display: flex;
  button {
    margin-left: auto;
  }
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  color: $black;
}

.subtitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: $black;
}

.dialog-footer {
  margin: 16px;
}
