<div class="container">

    <div class="dialog-header">
      <h1 mat-dialog-title class="title">Redefinir Senha</h1>
      <button mat-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <div mat-dialog-content>
      <form [formGroup]="form">    
        <div class="row two-columns">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Exibir senha'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{form.get('password')?.value?.length}} dígitos</mat-hint>
            <mat-error *ngIf="form.get('password')?.invalid">Você deve inserir um valor</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput formControlName="repeatPassword" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Exibir senha'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end">{{form.get('repeatPassword')?.value?.length}} dígitos</mat-hint>
            <mat-error *ngIf="checkPasswords()">As senhas não são equivalentes</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  
    <div mat-dialog-actions align="end" class="dialog-footer">
      <button mat-stroked-button (click)="onNoClick()">No Thanks</button>
      <button mat-raised-button [disabled]="form.invalid" color="primary">Post</button>
    </div>
  </div>